.env
.secrets/
.local/
*.zip
**/__pycache__/
**/.pytest_cache/
**/.ruff_cache/
**/.venv/
**/vendor/
**/storage/logs/*
**/bootstrap/cache/*.php
.DS_Store
**/node_modules/
**/dist/
**/*.tsbuildinfo

**/.phpunit.result.cache
**/.phpunit.cache/
**/.pint.cache
