<?xml version="1.0" encoding="UTF-8"?>
<phpunit bootstrap="vendor/autoload.php" colors="true" cacheDirectory="/tmp/phpunit-cache">
  <testsuites><testsuite name="Gateway"><directory>tests</directory></testsuite></testsuites>
  <php><env name="APP_ENV" value="testing"/><env name="CACHE_STORE" value="array"/><env name="APP_KEY" value="base64:AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA="/></php>
</phpunit>
